@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.25rem;
    font-family:'Poppins', sans-serif;
    background-color: #fff;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    cursor: pointer;
    padding: .5em;
}

a {
    text-decoration: none;
    font-size: 1rem;
    color: inherit;
    margin: 0em auto;
}

header {
    width: 100%;
    min-width: 340px;
    max-width: 1000px;
    background-color: #fff;
    color: #000;
    padding: .25em;
    display : flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

header .logo {
    width: 5em;
    border: 1px solid white;
    font-weight: 700;
    text-align: center;
}

header .setting {
    border: 1px solid white;
    margin-left: auto;
}

.setting-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
main{
    width: 100%;
    
}
.main{
    border: 3px solid red;
    display: grid;
    grid-template-columns: .5fr 3fr;
}

aside{
    display: block;
}
.side-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100vh;
    border: 3px solid orange;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid blue;
}

.footer-content{
    text-align: center;
}